body,
html {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Header */

header {
  height: 152px;
  background-color: #ff3b3c;
}

.search {
  padding: 10px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search .social ul li {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 10px 0;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}

.header-social-img {
  height: 30px;
}

/* Main section */

main {
  height: auto;
}

.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5% 5% 0 5% ;
}

main .container {
  max-width: 1540px;
  margin: 20px auto;
  height: inherit;
  min-height: inherit;
}

.product-images-block,
.product-description-block,
.product-checkout-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-description-block .title {
  color: #c72525;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
}

.product-description-block .selector fieldset {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
}

.product-description-block .selector fieldset select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product-images-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden; /* Asegúrate de que las imágenes no desborden el contenedor */
}

.product-images-block .thumbnail-container {
  grid-column: 1;
  margin: 3px; /* Ajusta el margen según sea necesario */
}

.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste completamente dentro del contenedor */
  object-position: center center; /* Centra la imagen en el contenedor */
}

.product-images-block .main-image {
  width: 100%;
  grid-row: 1/5;
  grid-column: 2/5;
}

.product-checkout-block {
  background-color: #ebebeb; /* Color de fondo claro */
  padding: 33px; /* Espaciado interno */
  border-radius: 10px; /* Bordes ligeramente redondeados */
}

.checkout-total-label {
  color: #ff3b3c; /* Color distintivo para el texto 'Total:' */
}

.checkout-total-price {
  font-size: 28px; /* Tamaño grande para el precio */
  font-weight: 700; /* Fuente en negrita */
  margin-top: 10px; /* Espacio por encima del precio */
}

.checkout-description {
  line-height: 20.4px; /* Espaciado de línea para mejorar la legibilidad */
  word-wrap: break-word; /* Asegura que el texto no desborde el contenedor */
}

.checkout-policy-list {
  list-style-type: none; /* Elimina los marcadores de lista */
  margin-bottom: 30px; /* Espacio debajo de la lista */
}

.checkout-policy-list li {
  display: flex; /* Alineación horizontal de íconos y texto */
  margin: 15px 0; /* Espacio entre elementos de la lista */
}

.checkout-policy-list li .policy-icon {
  margin-right: 15px; /* Espacio entre el ícono y el texto */
}

.checkout-process .top {
  display: flex; /* Alinea el input y el botón horizontalmente */
  margin-bottom: 10px; /* Espacio debajo del grupo superior */
}

.checkout-process .top input {
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  /* comentatio sobre padding */
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

.sales-block {
  margin: 20px 5%;
}

/* product */

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
  line-height: 22px;
}

.product-card a {
  text-decoration: none;
}

.product-info {
  padding: 20px;
  box-sizing: border-box;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
}

.product-description {
  font-size: 16px;
  font-weight: 500;
  color: #82867f;
  margin-bottom: 6px;
}

.product-tax-policy {
  font-size: small;
  font-weight: 300;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

.product-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}



/* recomended products */

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
  line-height: 22px;
}

.product-card a {
  text-decoration: none;
}

.product-info {
  padding: 20px;
  box-sizing: border-box;
}

.product-title {
  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
}

.product-description {
  font-size: 16px;
  font-weight: 500;
  color: #82867f;
  margin-bottom: 6px;
}

.product-tax-policy {
  font-size: small;
  font-weight: 300;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

.sales-block {
  margin-top: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 3fr; */
  grid-gap: 50px;
}

.sales-block a{
  text-decoration: none;
  color: initial;
}

.sales-title{
  margin: 30px ;
}

.sales-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px; /* Tamaño de fuente grande para captar atención */
}

/* Footer */

footer {
  background-color: #7525a7;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

footer .columns-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.columns-container .col {
  margin: 5px;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}


#subtotalComprar{
  padding: 10px;
  color: #c72525;
  font-size: 30px;
}




/* vista telefono */
@media (max-width: 576px) {
  header {
    height: 250px;
  }

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav ul {
    /* display: grid; */
    display: None;
    gap: 5px;
  }

  .search {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .search .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search .form {
    width: 100%;
  }

  .search .form input {
    width: 250px;
  }

  .search .social ul {
    justify-content: center;
  }

  .product-images-block{
    min-width: 280px;
  }

  .detail-description h1{
    font-size: 20px;
  }

  .sales-block {
    margin-top: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:30px;
  }

  .sales-title h2{
    font-size: 20px;
  }

  footer .container{
    width: 230px;
  }

}

/* Vista tablet */
@media (min-width: 577px) and (max-width: 992px) {
  .title-container span:first-child {
    font-size: 2rem;
  }

  .title-container span:last-child {
    font-size: 4.25rem;
    line-height: 5rem;
  }

  .search .form input {
    width: 280px;
  }

  .product-images-block{
    grid-template-rows: 20px 1fr;
  }

  .product-checkout-block{
    flex:none;
    padding: 10px;
    max-width: 100%;
  }

  .search .form input {
    width: 300px;
  }

  .search .social ul {
    justify-content: center;
  }

  .sales-block {
    grid-template-columns: 1fr 1fr ;
  }

  .sales-title h2{
    font-size: 20px;
  }

  footer .container{
    width: 500px;
  }

}
